@import "../../scss_vars.scss";
.series-container {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 150px);
  column-gap: 30px;
  row-gap: 30px;
  overflow: auto;

  .series-button {
    height: 150px;
    background-color: $color1;
    color: white;
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    &:hover,
    &:focus {
      background-color: $color2;
      cursor: pointer;
    }
  }
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, 300px);
    .series-button {
      height: 300px;
    }
  }
}
