@import "../../scss_vars.scss";
.series-container {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 150px);
  column-gap: 30px;
  row-gap: 30px;
  overflow: auto;

  .series-button {
    height: 150px;
    background-color: $color1;
    color: white;
    font-size: calc(1.2rem + 3vw);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    &:hover,
    &:focus {
      background-color: $color2;
      cursor: pointer;
    }
  }
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, 300px);
    .series-button {
      height: 300px;
      font-size: 3vw;
    }
  }
}
.new-series-popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: $color1;
  color: white;
  display: flex;
  flex-direction: column;
  .close-button {
    background: none;
    border: 0;
    color: white;
    font-size: 2rem;
    padding: 5px;
    align-self: flex-end;
    &:hover {
      color: $color5;
    }
  }
  form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    flex: 1;
    label {
      font-family: "Quicksand";
      font-size: 2rem;
    }
    input,
    textarea {
      font-size: 1.6rem;
      margin-bottom: 10px;
    }
    textarea {
      height: 40%;
    }
    input[type="submit"] {
      margin-top: auto;
    }
  }
}
